<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Covid Vaccine Sentiment</title>
</head>
<body>
<!-- Navigation -->

<ul class="nav nav-tabs">

    <li class="nav-item">
      <a class="nav-link active" href="#Introduction">Introduction</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#Methods">Methods</a>
      </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#Results" role="button" aria-haspopup="true" aria-expanded="false">Results</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#Timeline">Timeline</a>
        <a class="dropdown-item" href="#Popularity">Popularity</a>
        <a class="dropdown-item" href="#Map">Map</a>
        <a class="dropdown-item" href="#TextBlob">Text Blob</a>
        <a class="dropdown-item" href="#SampleTweet">Sample Tweet</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#DataTable">Data Table</a>
      </div>

    </li>
    <li class="nav-item">
      <a class="nav-link" href="#Discussion">Discussion</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#References">References</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#About Me">About Me</a>
      </li> 
  </ul>

<!-- ------------------------content------------------------------ -->
<div class="container">

<!-- ------------------------INTRO------------------------------ -->
    <div class="row" id="Introduction"> 
        <div class="col-md-12">

        </div>
    </div>
<!-- ------------------------METHODS------------------------------ -->
    <div class="row" id="Methods"> 
        <div class="col-md-12">
            <p></p>
<p>Jansen Vaccine not Included in final list because it was approved on March 5th and data collection started on March 7th. 
<br> 
More thorough methodology can be found in the readme <a href="https://github.com/NikitaCase/covid-sentiments/blob/main/README.md" target="_blank">here.</a>
</p>
        </div>
    </div>
    <!-- ------------------------RESULTS------------------------------ -->
    <div class="row" id="Results"> 
        <div class="col-md-12">

           
            <!--------  -------->
<div class="row" id="Timeline">

</div>
            

<!--------  -------->
            <div class="row" id="Popularity">

            </div>
                       
            
<!--------  -------->
<div class="row" id="Map">

</div>
            

<!--------  -------->
            <div class="row" id="#TextBlob">

            </div>
                        
            
            <!--------  -------->
<div class="row" id="#SampleTweet">

</div>
            

<!--------  -------->
            <div class="row" id="#DataTable">

            </div>

        </div>
    </div>
    
    
    
    
    <!-- ------------------------DISCUSSION------------------------------ -->
    <div class="row" id="Discussion"> 
        <div class="col-md-12">

        </div>
    </div>
    <!-- ------------------------CONCLUSION------------------------------ -->
    <div class="row" id="Conclusion"> 
        <div class="col-md-12">

        </div>
    </div>
    <!-- ------------------------REFERENCES------------------------------ -->
    <div class="row" id="References"> 
        <div class="col-md-12">

        </div>
    </div>
    <!-- ------------------------ABOUT-ME------------------------------ -->
    <div class="row" id="About-Me"> 
        <div class="col-md-12">

        </div>
    </div>

        </div>





<!-- Bootstrap js -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>